*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea/
/gradle.properties
/gradlew
/build.gradle
/settings.gradle
/gradle/
/gradlew.bat
/app/proguard-rules.pro
/app/build.gradle
